


       

 f"Hi {reg.get('full_name')},\n\n"
        "Thank you for registering with Epiconsult on World Cancer Day.\n"
        "We will contact you shortly. Regards\n\n"
   


EPICONSULT TEAM ITO

Epiconsult Clinic & Diagnostics Center

📍 33, Abidjan Street, Wuse, Zone 3, Abuja

📞 Tel: 07037765000, 09139374672

✉ Email: epiconsultdiagnostics@gmail.com, epiconsultdiagnostics1@gmail.com

Website: www.epidiagnostics.com

   
This email and any file transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error, you should not disseminate, distribute or copy this email. Kindly notify the sender immediately by email and delete it from your system. Disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.

 